@charset "UTF-8";

@font-face {
  font-family: "recipe";
  src:url("fontastic-fonts/recipe.eot");
  src:url("fontastic-fonts/recipe.eot?#iefix") format("embedded-opentype"),
    url("fontastic-fonts/recipe.woff") format("woff"),
    url("fontastic-fonts/recipe.ttf") format("truetype"),
    url("fontastic-fonts/recipe.svg#recipe") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "recipe" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="nr-"]:before,
[class*=" nr-"]:before {
  font-family: "recipe" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nr-check-square-o:before {
  content: "\61";
}
.nr-check:before {
  content: "\62";
}
.nr-clock-o:before {
  content: "\63";
}
